*.sql
*.swp
.git
.cvsignore
.sass-cache
.svn
.hg
.lock-wscript
.wafpickle-N
.DS_Store
._*
CVS
npm-debug.log
node_modules
bower_components
cache
dist
db_dumps

# eemove
eemove.jar
eemove.config
eemove.ignore
db_backups

# EE Project Specific #
# ------------------- #

# Configs (commented out for repo, uncomment for production use)
# */user/config/config.php

# Cache
*/system/user/cache/*
sized/
thumbs/
_thumbs/

.idea
